#map { 
    height: 950px; 
}

.map-menu-container {
    background: white;
    padding:30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-align: center;
    color: #4a6cf7;
}

.menu-btn {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 8px 12px;
    background-color: #4a6cf7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.menu-btn:hover {
    background-color: #4351be;
}

.map-route-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-align: center;
    color: #4a6cf7;
}


.route-btn {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 8px 12px;
    background-color: #4a6cf7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.route-btn:hover {
    background-color: #4351be;
}

@media (max-width: 768px) {
#map { 
    height: 750px; 
}


.map-menu-container {
    padding:7px;
    border-radius: 8px;
}

.menu-btn {
    margin-bottom: 5px;
    padding: 4px 8px;
}

.map-route-container {
    padding: 7px;
    border-radius: 8px;
}


.route-btn {
    margin-bottom: 5px;
    padding: 4px 8px;
    border-radius: 4px;
}
}