.map-layout-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.leaflet-bottom.leaflet-right {
    display: flex;
    flex-direction: row-reverse; 
    align-items: flex-end;      
    gap: 10px;                 
    padding: 10px;
}
.map-wrapper {
    flex-grow: 1; 
    position: relative;
    height: 100vh;
}

#map {
    width: 100%;
    height: 100%;
}

.custom-api-layer {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000; 
    background: #303870;
    color: white;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    width: 100px;
    pointer-events: auto; 
    text-align: center;
}

.hamburger {
    display: none;
    color: #303870;
    z-index: 1001; 
}

.map-menu-container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    width: 250px;
    font-family: 'Poppins', sans-serif; 
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.header-text h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 800;
    color: #000;
}

.header-underline {
    height: 3px;
    background-color: #2c3e50; 
    width: 80%;
    margin-top: 5px;
}

.area-count-big {
    font-size: 28px;
    font-weight: 900;
    line-height: 1;
}

.menu-button-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-btn {
    text-align: left;
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    color: #2c3e50;
    background-color: transparent; 
    cursor: pointer;
    transition: 0.2s;
}


.menu-btn:hover, .menu-btn.active {
    background-color: #dcdde1; 
}


.risk-summary-container {
    display: flex;
    gap: 15px;
    background: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    margin-top: 10px;
    margin-right: 10px;
}

.summary-card, .count-card {
    border: 1.5px solid #2c3e50; 
    border-radius: 15px;
    padding: 12px;
    min-width: 140px;
}

.summary-card h4, .count-card h4 {
    margin: 0 0 10px 0;
    font-size: 13px;
    font-weight: 800;
    text-align: center;
}

.risk-item {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
    justify-content: space-between;
}

.big-number-red {
    font-size: 48px;
    font-weight: 900;
    color: red;
    text-align: center;
    line-height: 1;
    margin-top: 5px;
}

.dot { height: 10px; width: 10px; border-radius: 50%; display: inline-block; margin-right: 8px; }
.dot.red { background: red; }
.dot.yellow { background: yellow; border: 1px solid #ccc; }
.dot.green { background: #2ecc71; }

/*Vulnerability popup*/
.risk-container {
    font-family: 'Poppins', sans-serif;
    min-width: 200px;
}

.assessment-row {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 5px;
}

.popup-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 5px;
    border-top: 2px solid #000;
    color: red;
    font-weight: bold;
}

.details-btn {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    background: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .summary-card{
        display: none;
    }

    .custom-api-layer
    {
        width:30%;
        padding: 5px;
    }

    .custom-api-layer h3{
        font-size: 1em;
    }

    .risk-summary-container, .count-card{
        padding: 10px;
        width: 150px;
        min-width: 0px;
    }

    .summary-card h4, .count-card h4{
        font-size: 1em;
    }

    .big-number-red{
        font-size: 1.5em;
    }

    .map-menu-container{
        padding: 10px;
        width: 150px;
        
    }

    .map-menu-container h4, .area-count-big, .menu-btn{
        font-size: 1em;
    }
    .menu-btn{
        padding:5px;
    }
    .menu-button-list{
        gap:5px;
    }
}

