body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f8f9f9;
}

.sidebar {
    width: 80px;
    height: 100vh;
    background: #303870;
    border-right: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    position: sticky;
    top: 0;
    transition: width 0.3s ease;
    overflow: hidden;
    flex-shrink: 0;
    overflow-y: auto;
}

.sidebar.expanded {
    width: 260px;
}

.sidebar-header { 
    height: 50px; 
    margin-bottom: 30px; 
    display: flex; 
    align-items: center;
}

.sidebar.expanded .sidebar-logo { 
    display: block; 
}

.sidebar-hamburger { 
    font-size: 20px; 
    min-width: 50px; 
    text-align: center; 
    cursor: pointer;
    color: white;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#mobile-nav-item{
    display: none;
}
.sidebar span, 
.sidebar-label, 
.arrow { 
    opacity: 0; 
    white-space: nowrap; 
    transition: opacity 0.2s; 
    pointer-events: none;
    display: none; 
}

.sidebar.expanded span, 
.sidebar.expanded .sidebar-label, 
.sidebar.expanded .arrow { 
    opacity: 1; 
    display: inline;
    pointer-events: auto;
}

.sidebar-label { 
    font-size: 11px; 
    font-weight: 700; 
    color: white; 
    margin: 15px 0 10px 15px; 
    text-transform: uppercase;
}

/*NOTIFICATIONS*/
.nav-item {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-radius: 12px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: background 0.2s;
    cursor: pointer;
}

#bellIcon{
color: white;
text-decoration: none; 
color: inherit;
}

.nav-item i { 
    min-width: 50px; 
    text-align: center; 
    font-size: 18px; 
}

.nav-item.active {
    background-color: white;
    color: #303870; 
    
}

.nav-item.active i {
    color: #303870;
}

#notificationDropdown {
    position: absolute;
   
    top: 670px; 
    left: 10px;
    
   
    width: 200px; 
    background: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 1000;
    
  
    padding: 10px;
}

.notifdropdown-header h1 { 
    font-size: 14px;
    margin: 0; 
    color: #1a237e; 
}

.notifdropdown-header h2 { 
    font-size: 10px; 
    color: #ef5350; 
    margin: 2px 0 5px 0;
    text-transform: uppercase;
}


hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 8px 0;
}

/* The list item */
.notification-list a { 
    display: flex;
    align-items: center;
    font-size: 6px; 
    color: #444; 
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    transition: background 0.2s;
}

.notification-list a:hover {
    background: #f5f5f5;
}

.notification-list p{
    color:#1a237e;
    font-size: 12px;
}

.notification-list i {
    color: #1a237e;
    margin-right: 8px;
   
}

.user-section { 
    border-top: 1px solid #eeeeee; 
    padding-top: 15px; 
    margin-top: auto; 
    width: 100%;
}

/*ADMIN PROFILE*/
.admin-profile {
    display: flex;
    flex-direction: row; 
    align-items: center;
    flex-wrap: nowrap;  
    padding: 10px;
    background: #f8f9fa;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden; 
    justify-content: center;
}

.sidebar.expanded .admin-profile { 
    justify-content: space-between; 
    padding: 10px 15px;
}

.admin-info { 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    gap: 12px; 
    min-width: 0;
}

.admin-avatar {
    min-width: 35px;
    height: 35px;
    background: #e0e0e0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
}

.admin-avatar i {
    font-size: 14px;
    color: #424242;
}

/* Popup */
.admin-profile-container {
    position: relative;
    width: 100%;
}

.admin-profile-dropdown {
    display: none;
    position: absolute;
    left: 70px; 
    bottom: 0;
    width: 180px;
    background: white;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    padding: 15px;
    z-index: 9999;
    border: 1px solid #ddd;
}

.admin-profile-dropdown.active {
    display: block;
}

.sidebar.expanded .admin-profile-dropdown {
    left: 5px;
    right: 5px;
    bottom: 110%; 
    width: auto;
}

.dropdown-header h1 { 
    font-size: 14px;
     margin: 0; 
     color: #333; 
    }

.dropdown-header p { font-size: 11px; color: #777; margin: 5px 0; }
.signoutbtn {
    width: 100%;
    padding: 8px;
    background: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.info span {
    font-size: 14px;
    font-weight: 500;
    color: #424242;
    white-space: nowrap;
    overflow: hidden;
}

.arrow { 
    font-size: 12px; 
    color: #bbbbbb; 
    flex-shrink: 0;
}

/*footer*/
.footer {
    width: 100%;
    padding: 20px 40px; 
    box-sizing: border-box;
    background-color: #ffffff !important; 
    border-top: 1px solid #e0e0e0;
    margin-top: auto; 
    flex-shrink: 0;
    z-index: 10;
}

.footer-top {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left, .footer-center, .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; 
}

@media (min-width: 769px) {
    .sidebar-logo { 
        display: none; 
        width: 150px; 
    }
}
@media (max-width: 768px) {
    #mobile-nav-item {
            display: flex;
        }
    }