/* WHOLE PAGE (DONT TOUCH THIS)*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f8f9f9;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.page-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.adminpage-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*END*/