/*SCROLL BAR*/
body, html {
  scrollbar-color: #5B6AD3 #f1f1f1;
  scrollbar-width: auto; 
  overflow-x: hidden;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Track background */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
 
/* The draggable handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
  border: 3px solid #f1f1f1; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*END*/